<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<center>
    <h1>Detail blog</h1>
</center>
<table border="1" th:object="${informationList}" class="table">
    <tr>
        <th >ID</th>
        <td th:text="*{id}"></td>
    </tr>
    <tr>
        <th>Title</th>
        <td th:text="*{title}"></td>
    </tr>
    <tr>
        <th>Category</th>
        <td th:text="*{category.name}"></td>
    </tr>
    <tr>
        <th>Content</th>
        <td th:text="*{content}"></td>
    </tr>
    <tr>
        <th>Date</th>
        <td th:text="*{date}"></td>
    </tr>
    <tr>
        <th>Report</th>
        <td th:text="*{report}"></td>
    </tr>
</tr>
</table>
</body>
</html>